<div id="netdigo-autoheader-panel" class="bottom-panel vert-resizable top-resizer">
    <div class="toolbar clearfix">
        <div class="title">Insert Header Configuration</div>
        <div class="right-area"><button id="netdigo-autoheader-save" class="btn">Save</button></div>
        <button id="netdigo-autoheader-close" class="close">&times;</button>
    </div>

    <div class="form resizable-content">
        <form>
            <label>Author</label>
            <input id="netdigo-autoheader-author" type="text">
            <br>
            <label>Header Text</label>
            <textarea id="netdigo-autoheader-text" class="textarea"></textarea>
        </form>
    </div>
</div>
